#
# Basic4Android .gitignore template
#

# Auto-backups
AutoBackups/*

# APK generator
Objects/*

# Don't ignore pre-configured App icon
!Objects/res/drawable/icon.png

# APK files
*.apk

# Desktop.ini files
#  - Desktop.ini files in subfolders are
#    automatically ignored as well
#  - No need to write "**/desktop.ini"
desktop.ini

#
# Specific to Android PIN Unblocker
#

# Releases folder
Releases/*

# Recaf program folder
Recaf/*

# MyApkTool Pro program folder
MyApkTool/*

# Don't ignore the MyApkTool EXE file only
!MyApkTool/MyApkTool.7z.001
!MyApkTool/MyApkTool.7z.002
!MyApkTool/MyApkTool.7z.003
!MyApkTool/MyApkTool.exe.sha256

# Ignore the obsolete PostBuild tools
# Brackets have to be escaped
PostBuild/\[obsolete\]/*

# Ignore the obsolete libraries
# Brackets have to be escaped
Libraries/\[obsolete\]/*

# Don't ignore the local acssmc library mirror
# Because you know, manufacturers love removing
# their old download links at a whim,
# and if we don't backup these files,
# they will become lost because nobody backed them up
!Libraries/\[obsolete\]/\[obsolete\].sha256
!Libraries/\[obsolete\]/acssmc-1.1.8-android12-20251125.zip

# Ignore the obsolete screenshots
# Brackets have to be escaped
Screenshots/\[obsolete\]/*


